@charset "UFT-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#redes-sociais img {
    float: right;
    width: 100px;
    height: 100px;
    padding: 35px;
    border-radius: 70px;
}

section#telefone {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 627px;
    width: 311px;
    background: url(../pacote-d013/imagens/frame-iphone.png) no-repeat;
}
#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

